{% extends 'base.html' %}

{% block extrahead %}{% endblock %}

{% block content %}
<center>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">HoosHappenings</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {% block nav %}{% include 'nav.html' %}{% endblock %}
        <div class="ms-auto">
        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</center>
  {% block postnav %}{% endblock %}
{% endblock %}
