{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}
<center>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">HoosHappenings</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {% block nav %}{% include 'nav.html' %}{% endblock %}
          <div class="ms-auto">
          <a class="btn btn-primary" href="{% provider_login_url 'google' %}?next=/" style="margin-bottom: 10px;">Login</a>
          </div>
      </div>
    </div>
  </nav>

<h2 class="text-center">Welcome to HoosHappenings!</h2>
    <h2 class="text-center" style="font-size: 20px;">Please login to access website.</h2>
</center>
{% endblock %}
