<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'welcome' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'listings' %}">Event Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'map' %}">Map of Nearby Events</a>
    </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'submit_event' %}">Submit an Event</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'my_events' %}">My Events</a>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'review_events' %}">Review Events</a>
    </li>
    {% endif %}
</ul>
  