{% extends 'authenticated.html' %}

{% block postnav %}
<center>
  <h1>Review Events</h1>
</center>
<div class="event_list">
{% for event in events %}
  <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;"></divstyle>
    {% include 'single_event.html' %}
    <a button type="submit" class="btn btn-primary" href="{% url 'approve_event' event.id %}">Approve</a>
    <a button type="submit" class="btn btn-secondary" href="{% url 'reject_event' event.id %}">Reject</a>
  </div>
    {% empty %}
    <p>No events to approve.</p>
{% endfor %}
</div>
{% endblock %}
