<h3><a href="{% url 'event_details' event_id=event.id %}">{{ event.name }}</a></h3>
{% if long_description %}
<p>{{ event.description|linebreaks }}</p>
{% else %}
<p>{{ event.description|truncatechars:50|linebreaks }}</p>
{% endif %}
<p>📍 <a href="https://www.google.com/maps/search/?api=1&query={{ event.location }}" target="_blank">{{ event.location }}</a></p>
<p>🕒 {{ event.date_time }}</p>
<p>🏷️
{% for tag in event.tags.all %}
    {{ tag.name }}
    {% if not forloop.last %}|{% endif %}
{% endfor %}    
</p>
